/* 公共样式表 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
/* 表心 */
.w { 
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}

/* 快捷导航 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}
.shortcut .fr>ul>li {
    float: left;
    line-height: 31px;
    text-align: center;
    cursor: default;
}
/* li 之间添加小竖线 */
.shortcut .fr>ul>li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin:9px 15px 0;
    background-color: #666666;
}
/* 为顶部导航栏右侧特定部分加上icomoon */
/* 并添加伸缩菜单 */
.shortcut .arrow-icon {
    position: relative;
}
.shortcut .arrow-icon::after {
    /* position: absolute; */
    display: inline-block;
    font-family: "icomoon";
    content:"\e91e" ;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: all 600ms;
    
}
.shortcut .arrow-icon:hover::after {
    transform: rotate(0deg);
}
.shortcut .arrow-icon .dd-menu {
    position: absolute;
    top: 31px;
    left: -15px;
    width: calc(100% + 30px); 
    height: 0px;
    background-color: #f1f1f1;
    overflow: hidden;
    /* visibility: hidden; */
    transition: all 600ms ;
    /* opacity: 0; */
}
.shortcut .arrow-icon .last {
    width: calc(100% + 15px);
}
.shortcut .arrow-icon:hover .dd-menu {
    z-index: 1;
    height: 120px;
    /*visibility: visible;*/
    /*opacity: 1;*/
}
.dd-menu li a{
    display: block;
    font-size: 15px;
}
.dd-menu li {
    display: block!important;
}
/* 头部模块 */
.header {
    position: relative;
    height: 105px;
    /* background-color: pink; */
}
.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    /* background-color: aqua; */
}
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo2.png) no-repeat;
    /* background-image: url(../images/logo2.png);
    background-repeat: no-repeat; */
    /* 京东做法 */
    font-size: 0;
    /* 淘宝做法 */
    /* text-indent: -999999px;
    overflow: hidden; */
    
}

.header .search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid#b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.header .search button {
    float: left;
    width: calc(100% - 454px);
    height: 100%;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}
/* 热搜词模块 */
.hotwords {
    position: relative;
    top: 66px;
    left: 346px;
}
.hotwords ul li {
    float: left;
    margin: 0 10px;
}
/* 购物车 */
.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 35px;
    text-align: center;
}
.shopcar::before {
    font-family: "icomoon";
    content: '\e93a';
    margin-right: 5px;
    color: #b1191a;
}
.shopcar::after {
    font-family: "icomoon";
    content: '\e920';
    margin-left: 10px;
}
.shopcar .count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    padding: 0 5px;
    color: #fff;
    background-color: #e60012;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
    
}
/* nav导航模块 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
    width: 210px;
    height: 45.5px;
    background-color: #b1191a;
    float: left;
}
.nav .naviteams {
    float: left;
}
.dropdown .dt {
    width: 100%;
    height: 45px;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
}

.dropdown .dd {
    /* display: none; */
    margin-top: 2px ;
    width: 210px;
    height: 465px;
    background-color: #c81623;
}
.dropdown .dd ul li {
    position: relative;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    margin-left: 2px;
    line-height: 30px;
}
.dropdown .dd ul li a {
    color: #fff;
}
.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    font-family: "icomoon";
    content: '\e920';
    font-size: 14px;
    color: #fff;

}

.dropdown .dd ul li:hover {
    
    background-color: #fff;
    color: #b1191a;
}

.dropdown .dd ul li:hover a {
    color: #b1191a;
}
.dropdown .dd ul li:hover::after{
    color: #b1191a;
}

.navitems ul li {
    float: left;
    padding: 0 25px;
}
.navitems ul li a {
    /* display: block;
    height: 45px; */
    line-height: 45px;
    font-size: 16px;
}

.navitems ul li:hover a{
    color: #b1191a;
}

/* footer 模块 */
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.footer .mod-service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.footer .mod-service ul li {
    float:left;
    width: 300px;
    height: 50px;
    padding-left: 35px;
    /* background-color: pink; */
}
.footer .mod-service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.footer .mod-service ul li:nth-of-type(1) h5 {
    background: url(../images/icons.png) no-repeat -252px -3px;
}
.footer .mod-service ul li:nth-of-type(2) h5 {
    background: url(../images/icons.png) no-repeat -254px -53px;
}
.footer .mod-service ul li:nth-of-type(3) h5 {
    background: url(../images/icons.png) no-repeat -257px -105px;
}
.footer .mod-service ul li:nth-of-type(4) h5 {
    background: url(../images/icons.png) no-repeat -257px -157px;
}
.footer .mod-service .service-txt h4 {
    font-size: 14px;
}
.footer .mod-service .service-txt p {
    font-size: 12px;

}
.footer .mod-help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.footer .mod-help dl {
    float: left;
    width: 200px;
}
.footer .mod-help dl:last-of-type {
    width: 90px;
    text-align: center;
}
.footer .mod-help dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.footer .mod-help dd {
    font-size: 12px;
}
.footer .mod-copyright {
    text-align: center;
    padding-top: 20px;
}
.footer .mod-copyright .links {
    margin-bottom: 15px;
}
.footer .mod-copyright .links a {
    margin: 0 5px;
}
.footer .mod-copyright .copyright {
    line-height: 20px;
}