* {
  -webkit-tap-highlight-color: transparent;
}

input {
  -webkit-appearance: none;
}

img,
a {
  -webkit-touch-callout: none;
  text-decoration: none;
  vertical-align: top;
  color: #1C1C1C;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.clearfix:after,.clearfix:before{
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

.clearfix{
  *zoom: 1;
}
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  height: 1200px;
  background-color: #F2F4F7;
  position: relative;
}
body {
  @media screen and (min-width: 750px) {

    font-size: 37.5px !important;
    //background-color: pink;
  }
}
html {
  @media screen and (min-width: 750px) {

    font-size: 37.5px !important;
    //background-color: pink;
  }
  @w:320px;
  @media screen and (max-width: 320px) {

    font-size: (@w / 20)!important;
    //background-color: pink;
  }
}

.header {

  position: relative;
  height: 2.133rem;
  border-bottom: 0.027rem solid #EAEAEA;
  padding-top: 0.373rem;
  background-color: #ffffff;
  text-align: center;
  line-height: 2.133rem;
  font-size: 0.933rem;
  color: #1C1C1C;
  .bottom {
    position: absolute;
    right: 0.453rem;
    bottom: 0.453rem;
    width: 4.64rem;
    height: 1.653rem;
    background: url("../images/组 14@2x.png") no-repeat;
    background-size: 4.64rem 1.653rem;
    border: 0.013rem solid #eaeaea;
    border-radius: 1.653rem;
  }
}
.warp {
  background-color: #ffffff;
}
.nav {

  display: flex;
  flex-wrap: wrap;
  padding-top: 1.2rem;
  padding-bottom: 1.6rem;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    flex: 1 0 auto;
    //background-color: pink;
    img {
      width: 2.88rem;
    }
    span {
      color: #707070;
      font-size: 0.667rem;
    }
    //&:nth-child(1) {
    //  margin-bottom: 1.067rem;
    //}
  }
  .item:nth-child(-n+3) {
    margin-bottom: 1.84rem;
  }
}
.test {
  width: 100%;
  height: 2.667rem;
  background-color: #ffffff;
}
.go {
  //width: 100%;
  padding-left: 0.48rem;
  padding-right: 0.267rem;
  padding-bottom: 1.147rem;
  img {
    //padding-left: 0.48rem;
    //padding-right: 0.48rem;
    width: 100%;
  }

}
.content {
  //display: flex;
  //flex-direction: column;

  margin-top: 0.267rem;
  background-color: #ffffff;

  .ss-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.013rem;
    padding: 1.067rem 1.013rem 0;
    //background-color: pink;
  }

  h2 {
    display: flex;
    justify-content: center;
    font-size: 0.747rem;
    font-weight: Bold;
    color: #333333;
  }

  h2::before {
    content: "";
    display: inline-block;
    width: 1.013rem;
    height: 1.013rem;
    margin-right: 0.133rem;
    background: url(../icons/i2.png) no-repeat;
    background-size: 1.013rem;


  }

  .more {
    font-size: 0.587rem;
    color: #999999;
  }
}

.get-job-focus {
  position: relative;
  .swiper-container {
    width: 14.4rem;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
    opacity: 0.4;
    a {
      width: 9.013333rem;
      height: 10.026667rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      width: 9.013333rem;
      font-size: 0.666667rem;
      margin-top: 0.64rem;
      color: #333;
    }
  }
  .swiper-slide-active,.swiper-slide-duplicate-active{
    transform: scale(1);
    z-index: 20;
    opacity: 1;
  }
}
.content {
  padding-left: .6667rem;
  padding-right: .6667rem;  
  .charge {
    margin-top: 1.0667rem;
    width: 18.72rem;
    height: 9.6rem;
  }
}

.charge {
  .swiper-container {
    padding: 0.266667rem;
  }
  .swiper-slide {
    font-size: 18px;
    background: #fff;
    width: 7.733333rem;
    height: 9.066667rem;
    background-color: #fff;
    border-radius: 0.266667rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    h5 {
      font-size: 0.693333rem;
      margin: 0.533333rem 0;
      font-weight: 400;
      padding: 0 0.266667rem;
    }
    img {
      width: 100%;
      height: auto;
    }
    p {
      font-size: 0.693333rem;
      color: #999999;
      padding: 0 0.266667rem;
      span {
        color: #ff5a00;
      }
    }
  }
}
.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 3.0133rem;
  z-index: 100;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;

  .bottom {
    padding-top: .5333rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin-top: .5333rem;
      width: 1.0667rem;
      height: 1.0667rem;
    }
    p {
      margin-top: .3733rem;
      margin-bottom: .5333rem;
      font-size: .5867rem;
    }
  }
  
}
.test {
  height: 80rem;
}