body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.box .item:nth-of-type(1) {
  width: 1919px;
  height: 14px;
  background-image: url("../../images/1_01.png");
}
.box .item:nth-of-type(2) {
  width: 359px;
  height: 1646.5px;
  background-image: url("../../images/1_02.png");
}
.box .item:nth-of-type(3) {
  width: 1354px;
  height: 1646.5px;
  background-image: url("../../images/1_03.png");
}
.box .item:nth-of-type(4) {
  width: 1354px;
  height: 1646.5px;
  background-image: url("../../images/1_04.png");
}
.box .item:nth-of-type(5) {
  width: 206px;
  height: 1624.5px;
  background-image: url("../../images/1_05.png");
}
.box2 .items-1 {
  width: 1919px;
  height: 14px;
  background-image: url("../../images/1_01.png");
}
.box2 .items-2 {
  width: 359px;
  height: 1646.5px;
  background-image: url("../../images/1_02.png");
}
.box2 .items-3 {
  width: 1354px;
  height: 1646.5px;
  background-image: url("../../images/1_03.png");
}
.box2 .items-4 {
  width: 1354px;
  height: 1646.5px;
  background-image: url("../../images/1_04.png");
}
.box2 .items-5 {
  width: 206px;
  height: 1624.5px;
  background-image: url("../../images/1_05.png");
}
.light {
  color: pink;
}
.light2 {
  color: #000;
}
@media (min-width: 768px) {
  .element {
    font-size: 1.2rem;
  }
}
.test {
  width: 359px;
}
.class {
  transform: translateX(50px) scale(1) rotate(2deg);
}
