body {
    font-size: 16px;
    font-family: Microsoft yahei;
    line-height: 26px;
    background-color: bisque;
}

h2 {
    font-weight: 400;
    text-align: center;
    

}
p {
    text-indent: 2em;

}
.gray {
    color: gray;
}
div {
    font-size: 12px;
    text-align: center;
}
a {
    text-decoration: none;
}
.search_frame {
    width: 170px;
    color: #666;
}
.picture {
    text-align: center;
}