/* 重置网页页面 */
* {	
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
em,
i {
    font-style: normal;
}
img {
    border: 0;
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #c81623;
}
button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    /* 手动去掉边框 */
    border: 0;
    outline: none;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
}
.hide,
.none {
    display: none;
}
li {
    list-style-type: none;
}
.clearfix:before ,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}
    .clearfix {
    *zoom: 1;
}